.background {
    background-color: #212121
}

.background2 {
    background-color: #323232;
}


/* Card Width */
.cardWidth {
    width: 15rem;
}

/*Text Color*/
.text {
    color: #14b5ff
}

/*Properties for all of the buttons*/
.button {
    background: #009ec5;
    border-color: #00c3ff;
    color: white;
}

/*This contains all elements within each other with the use of .withIn, .homeImage, and .itemCenter*/
.withIn {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.homeImage {
    object-fit: cover;
    display: block;
    margin: auto;
    width: 85%;
    height: 85%;
}

.itemCenter {
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto
}